html, body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  overflow: hidden; /* Împiedică apariția scroll-ului în joc */
}

#root {
  background-color: transparent !important;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: none;
}

.chenar-container {
  position: absolute;
  bottom: 30%;
  left: 5%;
}

.chenar-img {
  display: block;
  height: auto;
  opacity: 1;
}
.chenar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -120%); 
  
  margin: 0;
  font-size: 2.7rem;
  color: #F890E7;
  font-weight: bold;
  font-family: "Kalamaya" , sans-serif;
  pointer-events: none; /* Textul nu blochează click-ul pe imagine dacă e cazul */
  text-shadow: 2px 1px 2px rgba(0,0,0,0.5); /* Opțional: pentru lizibilitate */
}
.chenar-stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-135%, -80%); 
  
  margin: 0;
  font-size: 1.3rem;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  pointer-events: none; /* Textul nu blochează click-ul pe imagine dacă e cazul */
  text-shadow: 2px 1px 2px rgba(0,0,0,0.5); /* Opțional: pentru lizibilitate */
}

.chenar-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #FFFFFF;
  background-color: #0004ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}